div.go-rank.action-ctrl.clearfix
	div.l-container
		p.go-rank__info 
			span.go-rank__info__count 投票抽 
			br
			|Top 100 餐廳餐券、
			br
			|免費當大爺發雞排！
		div.go-rank__btnwrap
			a.go-rank__btn.btn.btn--y(href="/vote.html", alt="投票去BJ4" title="投票去BJ4")
				i.icon.icon--join
				span 投票去BJ4