extends _layout.jade

block page_main
	section.index
		div.index__hd
		div.index__bd
			div.demo
				div.demo__ctrl.demo__ctrl--next Next
				div.demo__ctrl.demo__ctrl--skip skip
				div.demo__load
				div.demo__area
					//- img.demo-img(src="/images/demo2.jpg", alt="")
		div.index__ft

