@charset 'UTF-8';



/* ----- IMPORT -----*/

//1.utils
@import "utils/_mixins.scss";
@import "utils/_colors.scss";
//2.vendors
//3.base
@import "base/_reset.scss";
@import "base/_typography.scss";
//4.layout
@import "layout/_layout.scss";
@import "layout/_nav.scss";
//5.components
@import "components/_load.scss"; //html 在 load.js 裡
//6.pages
//7.themes
			
$tran:0.3s ease-in all;
$boxShadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);

.index {
	.l-vm {
		height: 80vh;
		width: 100%;
		background: #d6d6d6;
		text-align: center;
	}
	.l-vm__content {
		background: red;
		min-height: 200px;
	}
	@include respond-to(small-up) {
	}
}



$itemWidth: 100;
$itemHeight: 80;
$xCount: 15;
$yCount: 10;

.demo {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.demo__area {
	@extend .clearfix;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-smoothing:antialiased;
	transform-origin:50% 50%;
	z-index: 0;
}
.demo__item {
	width: #{$itemWidth}px;
	height: #{$itemHeight}px;
	opacity: 1;
	// box-shadow: 0 0 1px 1px rgba(255,255,255,1.0);
	float: left;
	position: relative;
	z-index: 1;
	span {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	span.front {
		background-image:url(../images/demo.jpg);
		background-repeat: no-repeat;	
	}
	span.back {
		background-image:url(../images/demo2.jpg);
		background-repeat: no-repeat;	

	}
}

.demo__ctrl {
	display: inline-block;
	width: 100px;
	height: 100px;
	background:rgba(0,0,0,0.5);
	position: relative;
	top:0;
	right: 0;
	font-size: 2.5rem;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;	
	z-index: 3;
	color: #fff;
	cursor: pointer;
}

.demo__img {
	position: absolute;
	top:0;
	left: 0;
}

.demo__load {
	position: fixed;
	z-index: 10;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background:url(../images/ring.gif) rgba(0,0,0,1) no-repeat 50% 50%;
	display: none;

}
